---
- name: Get available memory for each host (and set few defaults)
  set_fact:
    # host remaining memory
    elkf_remaining_memory: "{{ hostvars[inventory_hostname]['ansible_memfree_mb'] }}"
    # service nodes lists
    elkf_services_elastic: []
    elkf_services_kibana: []
    elkf_services_logstash: []
    elkf_services_filebeat: []

- name: Echo vars
  debug: "var=elkf_remaining_memory"

- name: Get docker info from play hosts
  docker_host_info:
    containers: yes
    containers_filters:
      label:
        - elkf_stack_cluster_name="{{ elkf_stack_cluster_name }}"
  register: docker_host_info

- name: Find hosts for services & calc endpoints
  become: no
  connection: local
  run_once: true
  import_tasks: find_place_for_services.yml

- name: Echo vars
  debug: "var=elkf_remaining_memory"

- name: Echo vars
  debug: var=elkf_elastic_endpoints_discovery

- name: Echo vars
  debug: var=elkf_services_elastic_ports