---
- set_fact:
    # list of inventory hosts with elastic
    elkf_es_hosts: []
    # list of elastic node names
    elkf_es_node_names: []
    # list of elastic api endpoints (ip:port)
    elkf_es_api_endpoints: []
    # list of elastic discovery endpoints (ip:port)
    elkf_es_disc_endpoonts: []
    # elastic container image
    elkf_es_image: "{{ elkf_containers | selectattr('name', 'equalto', 'elasticsearch') | map(attribute='image') | first }}"

- name: "Pull ElasticSearch image: {{ elkf_stack_version }}"
  docker_image:
    name: "{{ elkf_es_image }}"
    tag: "{{ elkf_es_version }}"
    source: pull

- name: "ElasticSearch: Find all elastic hosts"
  set_fact:
    elkf_es_hosts: "{{ elkf_es_hosts + [item.host_inventory_name] }}"
  loop: "{{ elkf_stack.hosts_configuration }}"
  when: count_es_at_host|int > 0
  vars:
    count_es_at_host: "{{ item.services | json_query(\"[?name=='elasticsearch']\") | length }}"

- name: "ElasticSearch: Find all API & Discovery endpoints"
  include_tasks: elastic_endpoints_collector.yml
  loop: "{{ elkf_es_hosts }}"
  loop_control:
    loop_var: es_host

- name: "Start ElasticSearch containers {{ elkf_stack.version | default(elkf_default_version) }}"
  docker_container:
    name: "{{ es_container.node_name }}"
    image: "{{ elkf_es_image }}:{{ elkf_stack_version }}"
    ports: 
      - "{{ es_container.ports.api }}:9200"
      - "{{ es_container.ports.discovery }}:9300"
    labels:
      service: elastic
      group:  "{{ elkf_stack.name | default(elkf_default_stack_name) }}"
    env:
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
      # names
      "cluster.name":"{{ elkf_stack.name | default(elkf_default_stack_name) }}"
      "node.name": "{{ es_container.node_name }}"
      # discovery & masters
      "discovery.seed_hosts": "{{ current_seed_hosts }}"
      "cluster.initial_master_nodes": "{{ elkf_es_node_names| join(',') }}"
      # network options
      "network.host": "0.0.0.0"
      "network.bind_host": "0.0.0.0"
      "network.publish_host": "{{ current_host_ip }}"
      "transport.publish_port": "{{ es_container.ports.discovery }}"
      # disable xpack for now
      "xpack.monitoring.enabled": "false"
  loop: "{{ elkf_host_services | selectattr('name', 'equalto', 'elasticsearch') }}"
  loop_control:
    loop_var: es_container
    index_var: es_index
  vars:
    current_host_ip: "{{ ansible_eth0.ipv4.address }}"
    current_es_node_ip_port: "{{ ansible_eth0.ipv4.address }}:{{ es_container.ports.discovery }}"
    # list of all elastic endpoints minus current node for discovery
    current_seed_hosts: "{{ elkf_es_disc_endpoonts | reject('equalto', current_es_node_ip_port) | join(',') }}"